.card {
    width: 100%;
    max-width: 500px;
    background-color: rgb(231, 229, 229);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.label {
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .btn {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .loading{
    font-size: 20px;
    color: #19961d;
    font-weight: bold;
  }