@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  font-family: 'Nunito Sans', sans-serif;
  background-color: #a7a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


.error {
  color: #f44336;
  font-weight: bold;
}

